
  <h1><strong>Details:</strong></h1>
<div class = "container">
  <p>
    <strong><%= @cocktail.name %></strong>
  </p>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <% @cocktail.doses.each do |dose| %>
   <%= dose.description %>
   <%= dose.ingredient.name %>
   <%= link_to "Delete", dose_path(dose), method: :delete %>
   <% end %>
</p>

<%= link_to 'Home', cocktails_path %> |
<%= link_to 'Create Dose', new_cocktail_dose_path(@cocktail) %>

